ul{
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    background-color: #ece9e9;
}
li{
    float: left;
}
li a{
    display: block;
    color: rgb(38, 62, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(238, 65, 2);
    color:  rgb(145, 205, 56);
}
header img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: black;
    color: #ece9e9;
    text-align: center;
}
p{
    color:#ece9e9;
}
h1{
    color:#ece9e9;
}